* {
	margin:0;
	padding:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
}
img {
	border:none;
}
.cl {
	clear:both;
}
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
.floatL {
	float:left;
}
.floatR {
	float:right;
}
a {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.paddingt10 {
	padding-top:10px;
}
.margint15 {
	margin-top:15px;
}
body {
	background:#0866c6;
	margin:0;
	padding:0;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.bg {
	background:url(../images/bg_img.jpg) repeat-x top #f0f0f0;
	height:79px;
}
.wrapper {
	width:270px;
	margin:170px auto 0;
}
.bp_logo {
	display:block;
	margin:0 auto 30px;
	padding:10px 36px;
	background:#fff;

}
.white_bg {
	width:100%;
	background:#FFFFFF;
	height:40px;
	margin-bottom:20px;
}
.input_field {
	height: 40px;
	width: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#c1c1c1;
	padding-left:10px;
}

.keep {
	width:150px;
	float:left;
	padding-top:10px;
	color:#FFFFFF;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.check_box_icon {
	display:block;
	float:left;
	margin:0 5px 0 0px;
}
.sign_up {
	padding:10px 0 0 0px;
}
.all_right_reserved {
	font:normal 11px Arial, Helvetica, sans-serif;
	text-align:center;
	padding:150px 0 0 0px;
	color:#FFFFFF;
}
.wrapper1 {
	width:98%;
	margin:auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hdr, .logo, .menu, .containers {
	width:100%;
}
.logo {
	height:52px;
}
.menu {
	height:30px;
}
.admin_logo {
	padding:12px 0 0 0px;
}
.buy_prop_logo {
	padding:5px;
	background:#fff;
	margin-top: 3px;
}
.navi {
	width:60%;
}
.navi ul, .Navi_left ul, .container ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.Navi_left ul li, .container ul li, .Navi_left_review ul li {
	float:left;
}
/*.navi ul li a,*/ .Navi_left ul li a, .Navi_left_review ul li a {
	display:inline-block;
	font:bold 11px/30px Arial, Helvetica, sans-serif;
	padding:0 10px;
	border-right:1px solid #d0d0d0;
	color:#000;
	text-decoration:none;
}

.Navi_left {
	width:23%;
}
.Navi_left_review {
	width:26%;
}
.container {
	background:#fff;
	border:1px solid #d4d4d4;
	margin-top:15px;
	padding-bottom:30px;
}
.container ul li a img {
	display:block;
	margin:auto;
	padding:23px 0 12px 0px;
}
.container ul li a {
	border-radius:5px;
	font:normal 12px Arial, Helvetica, sans-serif;
	display:block;
	text-align:center;
	text-decoration:none;
	border:1px solid #e5e5e5;
	color:#000;
	width:162px;
	padding-bottom:16px;
	margin:30px 0px 0 38px;
}
.container ul li a:hover {
	background:#f8f8f8;
	-webkit-box-shadow:  0px 0px 10px 5px #eee;
	box-shadow:  0px 0px 10px 5px #eee;
	-webkit-transition: background 2s linear;
	-moz-transition: background 2s linear;
	-ms-transition: background 2s linear;
	-o-transition: background 2s linear;
	transition: background 2s linear;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
    background:#086a87;
	-o-transition: background 0.5s linear;
	-moz-transition: background 0.7s linear;
	-khtml-transition: background 0.7s linear;
	-webkit-transition: background 0.7s linear;
	-ms-transition: background 0.7s linear;
	transition: background 0.7s linear;
}
nav ul li:hover a {
    
	color:#FFFFFF;
	text-decoration:none;
	-o-transition: color 0.5s linear;
	transition: background 0.7s linear;
	-moz-transition:color 0.7s linear;
	-khtml-transition:color 0.7s linear;
	-webkit-transition:color 0.7s linear;
	-ms-transition:color 0.7s linear;
	transition:color 0.7s linear;
}
nav ul li a.active{ background:#086a87; color:white;}
nav ul li a {
	display:inline-block;
	font:bold 11px/30px Arial, Helvetica, sans-serif;
	padding:0 5px;
	border-right:1px solid #d0d0d0;
	color:#3b3b3c;
	text-decoration:none!important;

}
nav ul li.active a{background:#FFFFFF;}
nav ul ul {
	background: #5f6975!important;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index:1;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	z-index:99;
}
nav ul ul li a {
	padding:0px 10px;
	color: #fff;
	border-right:none;
}
nav ul ul li a:hover {
	 background:#086a87;
	-o-transition: background 0.5s linear;
	-moz-transition: background 0.7s linear;
	-khtml-transition: background 0.7s linear;
	-webkit-transition: background 0.7s linear;
	-ms-transition: background 0.7s linear;
	transition: background 0.7s linear;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}
.msg {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #FF0000;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
    width: 270px;
}
.headTitle{float:left; font:bold 12px Arial, Helvetica, sans-serif; padding:13px 0 0 10px; color:#fff;}
.Navi_left ul li a.current{ background:#ddd;}