@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background: #DFDFDF;
}
div, p, span, label, form, fieldset, h1, h2, h3, h4, h5, h6, h7, b, input, dl, dd, dt {
	margin: 0px;
	padding: 0px;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a {
	outline: none;
}
img {
	border: none;
}
/* ================================= Header Starts ================================= */
.HeaderWrap {
	width: 100%;
	margin: 1px auto;
	background: #FFF;
	height: 76px;
}
.HeaderWrap .left {
	float: left;
	padding-left: 0px;
	padding-top: 0px;
}
.HeaderWrap .left a{
	display: block;
	background: url(../images/admin-logo.bmp) no-repeat left top;
	width: 300px;
	height: 51px;
	text-indent: -10000px;
}
.HeaderWrap .right {
	float: right;
	/*background: url(../images/control-panel.gif) right top no-repeat;*/
	width: 105px;
	height: 26px;
	padding-top: 24px;
	padding-right: 10px;
	text-align: right;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.HeaderWrap .right a {
	color: #000;
	text-decoration:underline;
}
/* ================================= Body Starts ================================= */
.BodyWrap {
	width: 100%;
	margin: 0px auto;
}
/* ================================= Left Panel Starts ================================= */
.LeftTd {
	width: 15%;
	
	height:532px;
}
.LeftPanelWrap {
	width: 100%;
	float: left;
}

/* ================================= Right Panel Starts ================================= */
.RightTd {
	width: 85%;
	padding:0 15px 15px 15px;
	padding-right: 0px;
	padding-bottom: 50px;
}
.PageTitle {
	background: #888888;
	padding-left: 10px;
	color: #FFFFFF;
	font:bold 13px/25px arial;
	height:25px;
}
.TableName {
	color: #888888;;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	line-height: 22px;
}
.Nav {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	padding-right: 20px;
}
.Nav a {
	display: inline-block;
	/*margin-left: 15px;*/
	color: #3f3f3f;
	text-decoration: none;
}
.Nav a.active {
	display: inline-block;
	color: #00000;
	font-weight: bold;
	text-decoration: none;
}
.MainTable {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #888888;
	margin-top:5px;
}
.MainTable thead {
	background: #010204;
}
.MainTable thead th {
	border-left: 1px solid #888888;
	color: #000; 
	background:#a0a1a3;
	height:25px;
	padding:0 0 0 10px;

}
.user_serch_head{font:bold 12px/25px arial; padding-right: 25px; float: left;}

.MainTable thead th div {
	padding: 5px;
	font-size: 11px;
}

.MainTable tbody tr.white {
	background: #ffffff;
}
.MainTable tbody tr.green {
	background: #d8e7ea;
}
.MainTable tbody td {
	border-left: 1px solid #ccc;
	/*text-align: left;*/
	font:normal 11px arial;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	width: 160px;
}
.MainTable tbody td td{
	border: 0px solid #010204;
	font-size: 11px;
	padding: 5px;
}
.MainTable tbody td.center {
	text-align: center;
	padding: 0px;
}
.MainTable tbody td a.edit {
	background: url(../images/b_edit.png) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	float:left;
	display: inline;
	color: #3f3f3f;
	text-decoration: none;
	margin-right: 25px;
}
.MainTable tbody td a.add {
	background: url(../images/add-icon.jpg) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	display: inline;
	color: #3f3f3f;
	text-decoration: none;
}
.MainTable tbody td a.delete {
	background: url(../images/b_drop.png) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	display: inline;
	color: #3f3f3f;
	text-decoration: none;
}
.MainTable tbody td a.view {
	background: url(../images/icon-view.gif) no-repeat left 50%;
	padding-left: 15px;
	line-height: 16px;
	display: block;
	color: #3f3f3f;
	text-decoration: none;
	text-align:left;
}
.MainTable tbody td a.user {
	background: url(../images/user.png) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	display: block;
	color: #3f3f3f;
	text-decoration: none;
}
.MainTable tbody td a.work {
	background: url(../images/settings-icon.png) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	display: inline;
	color: #3f3f3f;
	text-decoration: none;
}

a.back16 {
	background: url(../images/back16-icon.png) no-repeat left 50%;
	padding-left: 18px;
	line-height: 19px;
	display: inline;
	color: #3f3f3f;
	text-decoration: none;
}
.StatsTable {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #6e8588;
}
.StatsTable thead {
	background: #a5c7cc;
}
.StatsTable thead th {
	border-left: 1px solid #010204;
	font-size: 11px;
	padding: 5px;
}
.StatsTable tbody tr.white {
	background: #ffffff;
	text-align: center;
}
.StatsTable tbody tr.green {
	background: #d8e7ea;
	text-align: center;
}
.StatsTable tbody td {
	border-left: 1px solid #010204;
	font-size: 11px;
	padding: 5px;
}
.StatsTable tbody td.red {
	color: #ed1f23;
}
.StatsTable tbody td.green {
	color: #04ad40;
}
.StatsTable tfoot td {
	border-left: 1px solid #010204;
	font-size: 11px;
	padding: 5px;
	background: #676767;
	color: #FFFFFF;
	font-weight: bold;
}
a.add {
	background: url(../images/add-icon.jpg) no-repeat left 50%;
	padding-left: 18px;
	line-height: 16px;
	color: #3f3f3f;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.paging {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #3f3f3f;
	margin:5px 0 0 0;
}
.paging td.pagenumber a {
	color: #3f3f3f;
	text-decoration: none;
}
.paging td.prevnext a {
	padding: 0px 10px;
	color: #3f3f3f;
	text-decoration: none;
}
.paging td a:hover {
	text-decoration: underline;
}

.button {
    background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fafafa 0%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ababab;
    border-radius: 5px 5px 5px 5px;
    color: #000;
    font: normal 12px/25px arial;
    height: 25px;
    padding: 0 5px;
    text-align: center;
}
.SelDiv {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;	
}
.SelDiv a {
	display: inline-block;
	color: #4A7980;
	text-decoration: none;
}
.SelDiv a:hover {
	display: inline-block;
	color: #F5821F;
	text-decoration: underline;
}
.borderRed{
	font-family:Arial;
	border:1px #FF0000 solid;
	background:#F9E0D5;
}
select,input[type=text],input[type=password]{
	font-family:Arial;
	font-size:12px;
	border:1px #548890 solid;
/*	width:200px;*/
}
textarea{
	font-family:Arial;
	font-size:12px;
	border:1px #548890 solid;
	/*width:100%;*/
}

div.textBox
	{
	background:url(../images/textBox-bg.gif) no-repeat left;
	height:25px;
	display:block;
	width:300px;
	float:left;
	}
div.textBox .left
	{
	background:url(../images/textBox-left.gif) no-repeat left;
	height:25px;
	display:block;
	padding-left:15px;
	}
div.textBox .right
	{
	background:url(../images/textBox-right.gif) no-repeat right;
	height:25px;
	line-height:24px;
	display:block;
	padding-right:15px;
	}
div.textBox input
	{
	width:300px;
	border:none !important;
	line-height:16px;
	padding-top:3px;
	background-color:transparent;
	}
.searchbtn{
	background:url(../images/admin-search.gif) no-repeat;
	width:65px;
	height:25px;
	border:none !important;
	display:block;
	}
.formLabel{
	background:url(../images/arrow.gif) no-repeat left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	padding-left:15px;
	}
table.searchStories{
	border-top:2px solid #a6a4a4;
	border-bottom:2px solid #a6a4a4;
	}

.msg_text{
	color:#990000;
    font-weight:bold;
	
}	




.row1{background:#BFCFFF;}
.row2{background:#B9D1EA;}
.green{color:#009900;}
.red{color:#FF0000;}
.sectionHead {
	background: #0278C0;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.docTxt{
	color:#FF9900;
}

.clsRow1{
background:#fff;
}
.clsRow2{
background:#f7f7f7;
}

.clsRowView1{
background:#fff;
}
.clsRowView2{
background:#f7f7f7;
}


h1.notice,
div.notice {
    margin:             0.5em 0 0.5em 0;
    border:             0.1em solid #FFD700;
    background-image:   url(../images/s_notice.png);
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    padding:            5px 10px 5px 36px;
	background-color:   #FFFFCC;color:#CC3300;
}
.notice h1 {
    border-bottom:      0.1em solid #FFD700;
    font-weight:        bold;
    text-align:         left;
    margin:             0 0 0.2em 0;
}

.warning {
    color:              #CC0000;
    background-color:   #FFFFCC;
}
p.warning,
h1.warning,
div.warning {
    margin:             0.5em 0 0.5em 0;
    border:             0.1em solid #CC0000;
        background-image:   url(../images/s_warn.png);
    background-repeat:  no-repeat;
            background-position: 10px 50%;
    padding:            10px 10px 10px 36px;
            }
.warning h1 {
    border-bottom:      0.1em solid #cc0000;
    font-weight:        bold;
    text-align:         left;
    margin:             0 0 0.2em 0;
}

.error {
    background-color:   #FFFFCC;
    color:              #ff0000;
}

h1.error,
div.error {
    margin:             0.5em 0 0.5em 0;
    border:             0.1em solid #ff0000;
        background-image:   url(../images/s_error.png);
    background-repeat:  no-repeat;
            background-position: 10px 50%;
    padding:            10px 10px 10px 36px;
            }
div.error h1 {
    border-bottom:      0.1em solid #ff0000;
    font-weight:        bold;
    text-align:         left;
    margin:             0 0 0.2em 0;
}

a.title_a{
font-size:12px;
font-weight:bold;
color:#333333;
}
a.title_a:hover{
text-decoration:none;
}

.cms{padding:25px 0 0 303px; float:left; font:bold 26px arial; color:#0972DD;}
.view-table{margin-top: 10px;}

.search-form {background: none repeat scroll 0 0 #e6e6e6;}
.SearchTable {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #888888;
	margin-top:5px;
}
.SearchTable thead {
	background: #010204;
}
.SearchTable thead th {
	border-left: 1px solid #888888;
	color: #000; 
	background:#CCCCCC;
	height:25px;
	padding:0 0 0 10px;

}

.SearchTable thead th div {
	padding: 5px;
	font-size: 11px;
}

.SearchTable tbody tr.white {
	background: #ffffff;
}
.SearchTable tbody tr.green {
	background: #d8e7ea;
}
.SearchTable tbody td {
	border-right: 1px solid #fff;
	/*text-align: left;*/
	font:normal 11px arial;
	padding: 5px;
	border-bottom: 1px solid #fff;
}
.SearchTable tbody td td{
	border: 0px solid #010204;
	font-size: 11px;
	padding: 5px;
}
.clsRowView1:hover, .clsRowView2:hover { background:#d0dcfa; color:#000;}
.add-new{float: right; margin-right: 50px; font:normal 11px Arial, Helvetica, sans-serif;}
