.dd {
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#5b5b5b;
float:left;
margin-right:6px;
}

.dd .ddTitle {
	background:url(../images/dd_bg.gif) no-repeat;
	border:none;
	padding:0 0 0 16px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:27px;
	line-height:27px;
	color:#5b5b5b;
}
.dd .ddTitle span.arrow {
	background:url(../images/dd_arrow.gif) no-repeat 0 0; float:right; display:inline-block;width:35px; height:43px; cursor:pointer;
}

.dd .ddTitle span.textTitle {text-indent:1px; overflow:hidden; line-height:27px;}
.dd .ddTitle span.textTitle img{text-align:left; padding:0 0 0 0}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:190px !important;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:0 0 3px 15px;
	text-decoration:none;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:19px;
	font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#5B5B5B!important;
}
.dd .ddChild a:hover {
	font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#5B5B5B!important;
	background:#FAFAFA;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd .ddChild a.selected {
	background:#FAFAFA;
	
}
.hidden {display:none;}
