@charset "utf-8";
/* CSS Document */

.eventinfo .input-lbl{text-align:right; font:600 13px/20px arial;}
.eventinfo input[type="checkbox"], input[type="radio"],input[type="url"]{ border: 1px solid #548890; margin-right:5px; vertical-align:middle;}
.eventinfo select, .eventinfo input[type="text"],input[type="url"], .eventinfo input[type="password"], .eventinfo input[type="date"] { border: 1px solid #548890; font-family: Arial; font-size: 12px; height: 25px; padding:2px 4px; width:200px;}

.dataTables_wrapper .dataTables_length {
    margin: 13px 10px;
}
.dataTables_wrapper .dataTables_filter {
    margin: 13px 10px;
}


.reqmt{
width: 70px !important;
height: 20px !important;}





#myTable_filter{
    
    display:none;
}

.bgwth{background: #fff !important;}
.bgwth input{ float: right; margin: 0 10px; line-height: 20px;}

.refTable{
    
          cursor: pointer;
    border-left: 1px solid #fff;
    color: #fff;
    background: #6d1f6a;
    /* height: 10px; */
    padding: 10px;
    
    float: right;
    margin-right: 10px;
    margin-top: -11px;
}


.addmorebtn{
    
    cursor: pointer;
    border-left: 1px solid #fff;
    color: #fff;
    background: #6d1f6a;
    padding: 6px;
    margin-left: 10px;
    display: inline-block;
    font-weight: 600;
    
}

float-right{
    float: right;
}
.blogselectbox{
   swidth: 300px;
   height:130px;}
.pro-pd{ padding:5px 0;}
.pro-pdbt{position:absolute; right:8px; bottom:8px;padding-left: 5px;}
.textrea{ position:relative;}
.addmr{    border: #ccc solid 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;}

.filediv{
    
    float:left; margin:5px; padding:5px; border:1px solid #ccc
}

.deletediv{
    
    float:right; margin-left:10px; cursor: pointer;
}

.bannerpg{text-align: center; background:#6d1f6a; color:#fff; text-decoration: none; font: bold 14px/16px Arial,Helvetica,sans-serif !important;}
.bannerpg a{color:#fff !important;}
.bnrhd{font:700 12px/18px arial !important; background:#6d1f6a; color:#fff;  text-align: center;}
.viewdtl{ background-image: none !important;}

.textalignleft{
    text-align: left !important;
}