.menu-left ul{ list-style-type: none;  padding: 0px;  width: 205px;}
		
.menu-left li{ display: inline; }			
			
.menu-left li ul{ position: absolute;  margin-top: -30px;  margin-left: 205px;}
		
.menu-left li ul{ display: none; }		
.menu-left li a{display: block;	padding-left:25px;	text-decoration: none;	background-color: white; color:#FFFFFF;
			font-family:Verdana, Arial, Helvetica, sans-serif;	font-weight:bold; font-size:10pt; line-height:28px;
			 border-bottom:#FFFFFF dotted 1px; background:#; background:url(../images/arrow.png) 5px 10px no-repeat #1e7cac;  	              					
			}			
		
.menu-left li a:hover{ background:url(../images/arrow.png) 5px 10px no-repeat #fff; color:#000;	}