* {
	margin:0;
	padding:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
}
img {
	border:none;
}
.cl {
	clear:both;
}
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
.margint20{ margin-top:20px;}
body {
	background:url(../images/bg.jpg) repeat;
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}
.wrapper {
	width:722px;
	margin:auto;
}
.iin_logo {
	padding:20px 0 0 0px;
}
.login_panel {
	width:100%;
	margin-top:20px;
}
.shadow_box {
	background:url(../images/bg.png) repeat;
	padding:16px;
	border:1px solid #009493;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.white_bg {
	background:#FFFFFF;
	margin:auto;
	padding-right:10px;
	padding-bottom:30px;
	border-radius:5px;
}
img.lock {
	padding:60px 40px 0 60px;
}
.shadow {
	padding:35px 0 0 0px;
}
.float_right {
	width:370px;
	float:right;
}
.panel {
	width:100%;
	padding-right:20px;
}
.panel h3 {
	font:bold 28px arial;
	text-align:center;
	padding-top:28px;
}
.panel p {
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:8px 8px 8px 0;
}
span.green {
	color:#35a297;
}
.input_bg {
	background:url(../images/input_box.jpg) no-repeat right;
	width:350px;
	height:42px;
}
.input_text {
	border: 0 none;
	height: 34px;
	margin: 2px 0 0 2px;
	width: 290px;
	float:left;
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#8f8f8f;
	padding:5px 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.user_icon{ padding:3px 3px 0 0px;}
.fp{ float:left; padding-top:23px;}
.fp a{ text-decoration:none; color:#000;}
.fp a:hover{ text-decoration:underline;}
.login_btn{ padding:10px 80px 0 0px;}
.invest_logo{ padding:10px 10px 10px 5px;  border-right:1px solid #666;}
.cms{padding:30px 0 0 60px; float:left; font:bold 26px arial;}
.msg{text-align:center; color:#CC3300; font-size:12px; width:347px; margin-bottom:10px; background:#ffef74; border:1px solid #bab13c; height:30px; line-height:30px;}
.template{display: inline-block; padding-bottom: inherit}