<div class="propView propAmenities cf" id="Amenities">
<?php
$delimiter = ",";
$getProjectdAmenities = explode($delimiter, $propertyAtGlance["projectAmenities"]);
print_r($getProjectdAmenities);
?>
<h2>SUPERTECH Amenities</h2>

<div class="scndWidth">
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg powerBackup" />

<div>Power <span>Backup</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg swimmingPool" />

<div>Swimming <span>pool</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg openspace" />

<div>Open <span>Space</span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg ClubHouse" />

<div>Club <span>House</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg waterSupply" />

<div>Water <span>Supply</span></div>
</div>


<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg carParking" />

<div>car <span>Parking</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg kidsPlay" />

<div>Kids Play <span>Area</span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg footBall" />

<div>Sports <span>Facilities</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg gym" />

<div>gym <span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg lift" />

<div>Lift <span></span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg multiPro" />

<div>MultiPurpose <span>Hall</span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg pipeGas" />

<div>Piped <span>Gas</span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg vastuComp" />

<div>Vastu <span>Compliant</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg videoSecu" />

<div>Video <span>Security</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg LandscapeGrdn" />

<div>Landscape <span>Garden</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg propStff" />

<div>Property <span>Staff</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg foodCourt" />

<div>food <span>court</span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg RestRo" />

<div>Restaurant <span></span></div>
</div>
<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg shoppingCtr" />

<div>Shopping <span>Center</span></div>
</div>


<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg confRoom" />

<div>Conference <span>Room</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg rainWater" />

<div>Rain Water <span>Harvesting</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg wifiCnt" />

<div>Wifi <span>Connectivity</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg waitingLoun" />

<div>Waiting <span>Lounge</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg golfCour" />

<div>Golf <span>Course</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg theaTre" />

<div>Theatre <span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg CareCentre" />

<div>No Day<span>Care Centre</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg medCenter" />

<div>Meditation <span>Center</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg fireXtus" />

<div>Firefighting <span>Equipment</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg treatmentPlant" />

<div>Sewage<span>Treatment Plant</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg teleCom" />

<div>telecom <span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg waterPlant" />

<div>Water<span>Plant</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg pavedCompound" />

<div>Paved<span>Compound</span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg CafeTeria" />

<div>Cafeteria <span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg aTm" />

<div>Atm<span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg esclaTors" />

<div>Esclators <span></span></div>
</div>

<div class="ameniWidth floatL">
<img src="360assets/microsite/1/images/trans_img.gif" alt="facts" class="amenitiesImg launDromat" />

<div>Laundromat <span></span></div>
</div>
</div>